<%include header.ejs%>
<div class="row">
    <div class="g-col-4">
        <div class="m-panel">
            <div class="m-panel-h">
                <h5 class="m-panel-t">资料信息</h5>
            </div>
            <div class="m-panel-b" style="min-height: 301px">
                <h5 class="user">HI<span class="dot">,</span><span class="text-primary">test2079</span></h5>
                <ul class="info">
                    <li><label>商户号</label>：<span class="text-danger">2042</span></li>
                    <li><label>实名认证</label>：<span class="text-danger">深圳宝宝网络科技有限公司</span></li>
                    <li><label>认证邮箱</label>：<span class="text-danger">72234433@qq.com</span></li>
                    <li><label>认证手机</label>：<span class="text-danger">1231231231</span></li>
                </ul>
                <div class="api">
                    <label>API信息</label>：
                    <textarea cols="20" readonly>61fbaaed-2639-6f8d-d932-bcf696e62871</textarea>
                    <button class="btn btn-primary" type="button">复制</button>
                </div>
            </div>
        </div>
    </div>
    <div class="g-col-4">
        <div class="m-panel">
            <div class="m-panel-h">
                <h5 class="m-panel-t">账户</h5>
            </div>
            <div class="m-panel-b">
                <div class="acc clearfix">
                    <label>账户余额：</label>
                    <p class="sum text-danger pull-left">10000<span class="u-unit">元</span></p>
                    <a class="btn btn-primary pull-left drawBtn" href="">提现</a>
                </div>
                <div class="rate-t">
                    <h5>费率</h5>
                </div>
                <div class="rate-b">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>通道类型</th>
                                <th>费率</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>网上银行（T+0）</td>
                                <td>0.000001%</td>
                            </tr>
                            <tr>
                                <td>支付宝（T+0）</td>
                                <td>0.0003%</td>
                            </tr>
                            <tr>
                                <td>微信（T+0）</td>
                                <td>0.005%</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="g-col-4">
        <div class="m-panel">
            <div class="m-panel-h">
                <h5 class="m-panel-t">公告</h5>
            </div>
            <div class="m-panel-b" style="min-height: 301px;">
                <h2 class="z-wait-open text-center">等待开放中</h2>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="g-col-8">
        <div class="m-panel">
            <div class="m-panel-h">
                <h5 class="m-panel-t">产品与统计信息</h5>
            </div>
            <div class="m-panel-b" style="min-height: 301px;">
                <h2 class="z-wait-open text-center">等待开放中</h2>
            </div>
        </div>
    </div>
    <div class="g-col-4">
        <div class="m-panel">
            <div class="m-panel-h">
                <h5 class="m-panel-t">客服</h5>
            </div>
            <div class="m-panel-b" style="min-height: 301px;">
                <h2 class="z-wait-open text-center">等待开放中</h2>
            </div>
        </div>
    </div>
</div>

<%include footer.ejs%>