<!DOCTYPE html>
<html>
  <head>
    <title>aa</title>
    <link rel="stylesheet" href="/css/corepay.css"/>
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">
    <script src="lib/requirejs/require.js" defer async="true" data-main="js/main"></script>
  </head>
  <body>
    <h1>AA</h1>
    <p>Hello Welcome to23WEW12</p>
  </body>
</html>
