
<nav class="clearfix">
    <ul class="pagination pull-right">
        <li><a href="javascript:void(0);" aria-label="上一页"> <span aria-hidden="true">&lt;</span></a></li>
        <li class="active"><a href="javascript:void(0);"> <span aria-hidden="true">1</span> </a></li>
        <li><a href="javascript:void(0);"> <span aria-hidden="true">2</span> </a></li>
        <li><a href="javascript:void(0);" aria-label="下一页"><span aria-hidden="true">&gt;</span></a></li>
    </ul>
    <span class="pull-right">共有12条记录，每页显示10条</span>
</nav>
