<div id="dialog_content" class="dialog_content" style="display:none">
    <div class="m-modal-h">提现详情</div>
    <div class="m-modal-b">
        <div class="row">
            <div class="g-col-6 f-item">
                <label>流水号：</label>
                <span>/DkHD3Ubn0ivM09aJ1dDsg</span>
            </div>
            <div class="g-col-6 f-item">
                <label>结算方式：</label>
                <span>银行卡</span>
            </div>
            <div class="g-col-6 f-item">
                <label>结算金额：</label>
                <span>1</span>
            </div>
            <div class="g-col-6 f-item">
                <label>收款人：</label>
                <span>赵统</span>
            </div>
            <div class="g-col-6 f-item">
                <label>开户行：</label>
                <span>建设</span>
            </div>
            <div class="g-col-6 f-item">
                <label>银行卡号：</label>
                <span>1234567890123456</span>
            </div>
            <div class="g-col-6 f-item">
                <label>提现状态：</label>
                <span>进行中</span>
            </div>
            <div class="g-col-6 f-item">
                <label>提现时间：</label>
                <span>2012/12/12</span>
            </div>
        </div>
    </div>
</div>