<%include ../header.ejs %>
    <div class="m-panel">
        <div class="m-panel-h">
            <div class="m-panel-t">结算记录</div>
        </div>
        <div class="m-panel-b">
            <form action="" method="post" class="form">
                <div class="row">
                    <div class="g-col-4">
                        <div class="f-item">
                            <label class="text-right">提款单号：</label>
                            <input class="f-input" type="text" value="">
                        </div>
                    </div>
                    <div class="g-col-4">
                        <div class="f-item">
                            <label class="text-right">商户单号：</label>
                            <input class="f-input" type="text" value="">
                        </div>
                    </div>
                    <div class="g-col-4">
                        <div class="f-item">
                            <label class="text-right">提款银行：</label>
                            <select class="f-select">
                                <option>所有</option>
                                <option>银行一</option>
                                <option>银行二</option>
                                <option>银行三</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="g-col-4">
                        <div class="f-item">
                            <label class="text-right">申请时间：</label>
                            <input class="f-input" type="text" value="">
                        </div>
                        <div class="f-item">
                            <label class="text-right">至：</label>
                            <input class="f-input" type="text" value="">
                        </div>
                    </div>
                    <div class="g-col-4">
                        <div class="f-item">
                            <label class="text-right">完成时间：</label>
                            <input class="f-input" type="text" value="">
                        </div>
                        <div class="f-item">
                            <label class="text-right">至：</label>
                            <input class="f-input" type="text" value="">
                        </div>
                    </div>
                    <div class="g-col-4">
                        <div class="f-item">
                            <label class="text-right">状态：</label>
                            <select class="f-select">
                                <option>所有</option>
                                <option>待提交</option>
                                <option>进行中</option>
                                <option>结算完成</option>
                            </select>
                        </div>
                        <div class="f-item">
                            <div class="f-submit withdraw-submit">
                                <button class="btn btn-primary">查询</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="f-tableBtn text-right">
                <button class="btn btn-primary">申请提现</button>
                <button class="btn btn-primary">批量申请</button>
            </div>
            <div class="table-scroll">
                <table class="table">
                    <thead>
                        <tr>
                            <th>操作</th>
                            <th>提款单号</th>
                            <th>商户单号</th>
                            <th>提现金额</th>
                            <th>到账金额</th>
                            <th>手续费</th>
                            <th>交易状态</th>
                            <th>收款人开户行</th>
                            <th>收款人姓名</th>
                            <th>收款人卡号</th>
                            <th>申请时间</th>
                            <th>完成时间</th>
                            <th>备注</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <a>重查</a>
                                <a>通知</a>
                                <a>详情</a>
                            </td>
                            <td>/DkHD3Ubn0ivM09aJ1dDsg</td>
                            <td>2005</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>进行中</td>
                            <td></td>
                            <td>赵彤</td>
                            <td>6228480402564890018</td>
                            <td>2017-05-09T18:11:37.923	</td>
                            <td>2017-05-09T18:11:37.923	</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="13">没有查找到数据</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <%include ../paging.ejs %>
        </div>
    </div>
<%include ../footer.ejs %>