/*变量与mixin*/
@import "variables.less";
@import "mixins.less";

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,label,p{ margin:0; padding:0;}
body{background: @color-bg;font-size: @font-size-base;font-family: @font-family;min-width: @g-body-w}
ul,li{list-style: none;}

/*基础 type*/
@import "type.less";
/*布局 grid*/
@import "grid.less";
/*表格 table*/
@import "table.less";
/*表单 form*/
@import "form.less";
/*按钮 button*/
@import "button.less";
/*分页 pagination*/
@import "pagination.less";
/*模态框 modal*/
@import "modal.less";
/*面板 panel*/
@import "panel.less";

/*login*/
.m-login-panel{
  position: fixed;
  top:25%;
  left: 50%;
  background: @color-white;
  width: @g-login-w;
  margin-left: -(ceil(@g-login-w/2));
  border-radius: 8px;
  overflow: hidden;
  >.m-login-h{
    height: 80px;
    background: @color-primary;
    color: @color-white;
    >h2{
      line-height: 80px;
      font-weight: normal;
    }
  }
  >.m-login-b{
    padding: @padding-base*2 @padding-base*4;
    .f-item{
      >label{
        font-size: 16px;
        word-spacing: 1px;
      }
      >.f-input{
        width: 240px;
        box-sizing: border-box;
        margin-left: @margin-base;
      }
      &.f-item-verCode{
        >.f-input{
          width: 130px;
        }
        >.f-verCode{
          width: 90px;
          height: 32px;
          margin-left: 20px;
          >img{
            width: 100%;
            height: 100%;
          }
        }
        >.f-verCode-tip{
          position: absolute;
          bottom: -20px;
          right: 0;
          font-size: 12px;
          cursor: pointer;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
    .f-submit{
      margin-top: 32px;
      >input[type=submit]{
        padding: 5px 30px;
      }
    }
    .error-tip{
      display: block;
      line-height: 24px;
    }
  }
}

/*左侧导航*/
.g-menu{
  position: fixed;
  height: 100%;
  width: @g-menu-w;
  background: @color-menu;
  z-index: 100;
  padding-top: 50px;
  >.logo{
    .fixed(0,auto,auto,0);
    width: @g-menu-w;
    height: @g-topNav-h;
    background: @color-primary;
    z-index: 100;
    img{
      margin: 12px 0;
    }
    &-icon{
      display: none;
      .fixed(0,auto,auto,0);
      background:@color-primary;
    }
  }
  .menu{
    >.list{
      margin: 8px 20px;
      >li{
        margin-top: @margin-base*2;
        border-radius: 6px;
        background: @color-menu-li;
        >.head{
          display: block;
          padding: 10px 24px;
          color: @color-white;
          .relative();
          border-radius: 6px;
          cursor: pointer;
          >i.navIco{
            .absolute(50%,auto,auto,16px);
            width:@menu-icon-w;
            height:@menu-icon-h;
            margin-top:ceil(@menu-icon-h/-2);
          }
          >span{
            margin-left: @margin-base*3;
          }
          >.z-switch{
            .absolute(50%,8px,auto,auto);
            width:@menu-switch-w;
            height: @menu-switch-h;
            margin-top: ceil(@menu-switch-h/-2);
            .background-img("../img/nav_ico.png",no-repeat,0,-22px);
          }
        }
        >.sub{
          >li>a{
            color:@color-white;
            display: block;
            padding: 10px 5px 10px 48px;
            .relative();
            >.u-dot{
              .absolute(50%,auto,auto,24px);
              width:@menu-switch-w;
              height:@menu-switch-h;
              margin-top: ceil(@menu-switch-h/-2);
              .background-img("../img/nav_ico.png",no-repeat,0,-44px);
            }
          }
        }
      }
    }
  }
}
.g-main{
  padding-top:@g-topNav-h;
  margin-left:@g-menu-w;
  >.top{
    height: @g-topNav-h;
    min-width: 860px;
    background: @color-white;
    .fixed(0,auto,auto,@g-menu-w);
    width: 100%;
    z-index: 100;
    .box-shadow(0,1px,1px,0,0,0,0.1);
    >.z-flex{
      width: @g-topNav-h;
      height: @g-topNav-h;
      padding: 10px;
      box-sizing: border-box;
      cursor: pointer;
      >span{
        display: block;
        width: @z-flex-h;
        height: @z-flex-h;
        .background-img("../img/sideNav_ico.png",no-repeat,8px,10px);
        background-color: #333744;
        border-radius: 50%;
      }
    }
    >.list{
      line-height: @g-topNav-h;
      color: @color-6;
      margin-right: @g-menu-w;
      >li{
        margin-left: @margin-base*2;
        &.f-user,&.f-pas,&.f-exit{
          >a{
            color: @color-6;
            >i{
              margin-right: @margin-base;
            }
            &:hover{
              color: @color-primary;
            }
          }
        }
        >.f-refresh{
          color: @color-6;
          cursor: pointer;
          margin-left: @margin-base;
          &:hover{
            color: @color-primary;
          }
        }
        &:last-child{
          margin-right: @margin-base*2;
        }
      }

    }
  }
  .body{
    padding: @padding-base*2;
    .m-panel-b{
      >.user{
        font-weight: normal;
        font-size: 18px;
        padding-left: @padding-base;
        color: @color-9;
        line-height: 24px;
        >.dot{
          margin: 0 @margin-base;
        }
      }
      >.info{
        padding: @padding-base*2 @padding-base;
        >li{
          line-height: 30px;
          color: @color-9;
          >label{
            display: inline-block;
            width: 60px;
          }
        }
      }
      >.api{
        padding: @padding-base;
        background: @color-info;
        color: @color-9;
        >label{
          width: 60px;
          line-height: 48px;
          display: inline-block;
          font-weight: 700;
        }
        >textarea{
          width: 40%;
          border:0;
          font-size: 14px;
          margin-bottom: -20px;
          padding: @padding-base/2;
          font-family: @font-family;
          resize: none;
          max-height: 48px;
          word-wrap: break-word;
          word-break: break-all;
        }
        >button{
          margin-left: @margin-base;
        }
      }
      >.acc{
        >label{
          display: block;
          color:@color-9;
        }
        >.sum{
          font-size:26px;
          >.u-unit{
            font-size:16px;
            color:@color-9;
            margin-left: @margin-base;
          }
        }
        >.drawBtn{
          margin: 3px 0 3px 10%;
        }
      }
      >.rate-t{
        padding:8px 0;
        border-bottom: 1px solid @color-bor;
        >h5{
          line-height: 32px;
          font-size: 16px;
          font-weight: normal;
        }
      }
      >.rate-b{
        margin-top: @margin-base*2;
      }
      .z-wait-open{
        color: bisque;
        margin-top: @margin-base*3;
        font-weight: normal;
      }
    }
    .withdraw-submit{
      padding-top: 0;
    }
    .order-submit{
      padding-top: 56px;
    }
  }
}

