.f-item{
  color: @color-6;
  margin-top: ceil(@margin-base*2);
  position: relative;
  >label{
    font-weight: normal;
    font-size: 14px;
    line-height: 32px;
  }
  >.f-input{
    border:1px solid @color-bor;
    height: 32px;
    padding: 0 @padding-base;
  }
}
