.f-item{
  color: @color-6;
  margin-top: ceil(@margin-base*2);
  position: relative;
  >label{
    font-weight: normal;
    font-size: 14px;
    line-height: 32px;
  }
  >.f-input{
    border:1px solid @color-bor;
    height: 32px;
    padding: 0 @padding-base;
  }
}

.form{
  .f-item{
    margin-top: @margin-base*3;
    >label{
      color: @color-9;
      width: 76px;
      display: inline-block;
      margin-top: -1px;
    }
    >.f-input{
      width: 60%;
      box-sizing: border-box;
    }
    >.f-select{
      width: 60%;
      border:1px solid @color-bor;
      height: 32px;
      padding: 0 @padding-base;
    }
  }
}