/*颜色 color*/
@color-bg:#eaeaea;
@color-3:#333;
@color-6:#666;
@color-9:#999;
@color-bor:#e1e6eb;
@color-primary:#3475cf;
@color-danger:#ea5514;
@color-left:#333744;
/*基础尺寸*/
@g-body-width:1200px;
@g-menu-width:220px;
@g-topNav-height:50px;